@import "~src/variables.scss";

.pokemon-card-container {
  display: grid;
  .pokemon-card {
    @include card;
  }
}

.search-by-name {
  padding: 25px 0px;
  text-align: center;
  p {
    padding-bottom: 10px;
    font-size: 24px;
  }
  input {
    width: 350px;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
}

.pokemon-card-name {
  padding-bottom: 15px;;
  h4 {
    font-size: 24px;
    font-weight: 700;
  }
}

.field-title {
  font-weight: 700;
  padding-bottom: 5px;
}

.pokemon-more-info {
  padding-top: 15px;
}

.none-data {
  padding-top: 50px;
  p {
    font-size: 18px;
    font-weight: 700;
  }
}
