@import "~src/variables.scss";

:host {
  flex: 1;
}

.carousel-container {
  height: calc(100vh - 84px);
  width: 100%;
}

.carousel {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-container {
  width: 100%;
  cursor: pointer;
}

.slide-title {
  padding-bottom: 15px;
  h1 {
    font-size: 24px;
    font-weight: 700;
  }
}

.slide-id {
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #fbdf3d;
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: 700;
  width: 100%;
  margin: 5px 0px;
}

.slide-types {
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #eee;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  margin: 5px 0px;
}

.slide {
  position: relative;
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  width: 70%;
}

.slide:hover {
  transform: scale(1.025);
}

.control {
  border: none;
  background-color: transparent;
  outline: 0;
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 3em;
  user-select: none;
  opacity: 80%;
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  top: 50%;

  &:hover, &:focus {
    opacity: 1;
  }

  &.next {
    right: 0;
  }
  &.prev {
    left: 0;
  }
}

.arrow {
  display: block;
  border-left: 0.1em solid #000;
  border-bottom: 0.1em solid #000;
  width: 0.5em;
  height: 0.5em;

  &.left {
    transform: rotate(45deg);
  }
  &.right {
    transform: rotate(225deg);
  }
}

.slide-content {
  padding: 25px 0px;
}
