<div class="container-fluid">
  <ng-container *ngIf="card">
    <div class="row card-container">
      <div class="col-md-4 align-center">
        <img [src]="card.imageUrlHiRes" alt="Pokemon card image">
      </div>
      <div class="col-md-8">
        <div class="pokemon-details">
          <div class="row">
            <div class="col-md-12 card-name">
              <h1>{{ card.name }}
                <span class="card-id">#ID: {{ card.id }}</span>
                <span class="card-types" *ngIf="card.types && card.types.length > 0">
                  {{ 'POKEMON_TYPE_LABEL' | translate }}: {{ card.types.join(', ')}}
                </span>
              </h1>
            </div>
            <div class="col-md-12" *ngIf="card.attacks">
              <h3 class="card-property-title">
                {{ 'POKEMON_ATTACKS_LABEL' | translate }}
              </h3>
              <div class="row card-attack">
                <div class="col-md-12">
                  <ng-container *ngFor="let attack of card.attacks">
                    <p class="property-subtitle">{{ 'POKEMON_NAME_FIELD_LABEL' | translate }}</p>
                    <p class="property-value more-details-icon" (click)="openModalAttackDetails(attack)">
                      {{ attack.name }}
                      <span class="material-icons">
                        zoom_in
                      </span>
                    </p>
                  </ng-container>

                </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="card.resistances">
              <h3 class="card-property-title">
                {{ 'POKEMON_RESISTANCE_LABEL' | translate }}
              </h3>
              <div class="row card-resistance flex-grow-1" *ngFor="let resistence of card.resistances">
                <div class="col-md-6">
                  <p class="property-subtitle">{{ 'POKEMON_TYPE_FIELD_LABEL' | translate }}</p>
                  <p class="property-value">{{ resistence.type }}</p>
                </div>
                <div class="col-md-6 align-center">
                  <p class="property-subtitle">{{ 'POKEMON_VALUE_FIELD_LABEL' | translate }}</p>
                  <p class="property-value">{{ resistence.value }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="card.weaknesses && card.weaknesses.length > 0">
              <h3 class="card-property-title">
                {{ 'POKEMON_WEAKNESS_LABEL' | translate }}
              </h3>
              <div class="row card-weakness" *ngFor="let weak of card.weaknesses">
                <div class="col-md-6">
                  <p class="property-subtitle">{{ 'POKEMON_TYPE_FIELD_LABEL' | translate }}</p>
                  <p class="property-value">{{ weak.type }}</p>
                </div>
                <div class="col-md-6 align-center">
                  <p class="property-subtitle">{{ 'POKEMON_VALUE_FIELD_LABEL' | translate }}</p>
                  <p class="property-value">{{ weak.value }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="!cardHasAttacksResistanceWeakness && card.text && card.text.length > 0">
              <p>
                {{ card.text.join('. ')}}
              </p>
            </div>
          </div>
          <div class="row back-to-list">
            <div class="col-md-12 align-center">
              <button (click)="backToList()">{{ 'BTN_BACK_LIST' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="hasLoaded && !card">
    <div class="row">
      <div class="col-md-12 none-data align-center">
        <p>Pokemon não encontrado!</p>
      </div>
    </div>
    <div class="row back-to-list">
      <div class="col-md-12 align-center">
        <button (click)="backToList()">Voltar para lista</button>
      </div>
    </div>
  </ng-container>
</div>

<app-modal *ngIf="isAttackModalOpened" (close)="closeAttackModal()">
  <div class="col-md-4" *ngIf="selectedAttack.convertedEnergyCost">
    <p class="property-subtitle">{{ 'ATTACK_ENERGY_COST_LABEL' | translate }}</p>
    <p class="property-value">{{ selectedAttack.convertedEnergyCost }}</p>
  </div>
  <div class="col-md-4" *ngIf="selectedAttack.damage">
    <p class="property-subtitle">{{ 'ATTACK_DAMAGE_LABEL' | translate }}</p>
    <p class="property-value">{{ selectedAttack.damage }}</p>
  </div>
  <div class="col-md-4" *ngIf="selectedAttack.text">
    <p class="property-subtitle">{{ 'ATTACK_DESCRIPTION_LABEL' | translate }}</p>
    <p class="property-value">{{ selectedAttack.text }}</p>
  </div>
</app-modal>


<!-- <div class="col-md-3 align-center">
      <p class="property-subtitle">Custo de mana</p>
      <p class="property-value">{{ attack.convertedEnergyCost }}</p>
    </div>
    <div class="col-md-3">
      <p class="property-subtitle">Dano</p>
      <p class="property-value">{{ attack.damage }}</p>
    </div> -->
    <!-- <div class="col-md-12 description" *ngIf="attack.text">
      <p class="property-subtitle">Descrição</p>
      <p class="property-value">{{ attack.text }}</p>
    </div> -->
