$background-color: #fff;
$button-opacity: 0.9;
$default-box-shadow: 0 2px 10px rgba(10,10,10,.1);
$default-border-radius: 8px;

@mixin card {
  padding: 25px 35px;
  box-shadow: $default-box-shadow;
  border-radius: $default-border-radius;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}
